//========================================================================================
// NightOwl GUI Test App Stylus File
//========================================================================================
//  Author: Chris Anderson
// Created: 9/16/2016
//––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
@import "nog-main"

h2
  color red

body
  margin 20px
