//========================================================================================
// NightOwl GUI Main Stylus File
//========================================================================================
//  Author: Chris Anderson
// Created: 9/16/2016
//––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
@import "nog-css-reset"

h1
  color green
